{% extends "layout.html" %}
{#% set active_page = "start" %#}
{% block title %}Fachdienste{% endblock %}

{% block body %}

<div class="row spaceheader">
<div class="large-12 small-12 twelve columns">
  <h1>Haushalt</h1>
</div>
</div>
<div class="row spaceheader">
<div class="large-12 small-12 twelve columns">
  <p>Diese Webseite stellt den Ergebnishaushalt des Kreises Offenbach dar. </p>
  <p>„Im Ergebnishaushalt werden die Erträge und Aufwendungen für die laufende Verwaltungstätigkeit geplant. Dort finden sich z.B. die Erträge aus Umlagen, die Aufwendungen für Personal oder die Aufwendungen für soziale Leistungen. </p><p>
  Im Ergebnishaushalt sind auch Erträge und Aufwendungen enthalten, die nicht zu konkreten Geldflüssen führen, sondern den Verbrauch von Ressourcen darstellen, z.B. Abschreibungen aufgrund der Abnutzung von Gebäuden."</p><p>
  Bitte beachten Sie, dass nur auf dieser Webseite nur Planwerte angezeigt werden. 
  </p><p>
  Weitere Informationen finden Sie direkt auf der <a href="http://www.kreis-offenbach.de/index.phtml?mNavID=1856.81&sNavID=1856.81&La=1">Haushaltsseite der Kreisverwaltung</a>.
  </p><p>
  <b>Hinweis:</b><br>
  <p>Zum HH-Jahr 2012 wurden die Haushaltsmittel des FD 52 in den FD 50 überführt. Dadurch lässt sich der starke Anstieg im Jahresvergleich 2012 zu 2011 erklären.</p>
</div>
</div>
{% endblock %}
